includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
    excludePaths:
        analyse:
            - src/UserResource.php
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
